{% extends 'base.html' %}
{% load static %}

{% block content %}
	{% comment %} <form method='POST'>
		{% csrf_token%}
		{{ form.as_p}}
		<input type='submit' value='yarat'>
	</form> {% endcomment %}
    <section id="form"><!--form-->
		<div class="container">
			<div class="row">
                <div class="col-sm-4 col-sm-offset-4">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
						<form action="" method='POST'>
						{{form.non_field_errors}}
                            {% comment %} {% for field in form %}
                            <div class="form-group">
         n_field_errors}                       <span class="alert-danger">{{field.errors}}</span>
                                {{ field }}
                            </div> {% endcomment %}
							{{form.first_name}}
							{{form.first_name.errors}}

							{{form.last_name}}
							{{form.last_name.errors}}

							{{form.username}}
							{{form.username.errors}}

							{% comment %} <div class='nice-select' tabindex='0'> {% endcomment %}
							
							<select id='operators'>
								<option value='050'>050</option>
								<option value='051'>051</option>
								<option value='070'>070</option>
								<option value='077'>077</option>
								<option value='055'>055</option>
								<option value='099'>099</option>

							</select>	
							<input id="phone_number" class='form-control' type="number" max="9999999" maxlength="7">



							
							{{form.mobile}}
							{{form.mobile.errors}}

							{{form.full_mobile}}
							{{form.full_mobile.errors}}

							{{form.email}}
							{{form.email.errors}}

							{{form.password1}}
							{{form.password1.errors}}

							{{form.password2}}
							{{form.password2.errors}}
							{% csrf_token %}
                          

							<button type="submit" id='submit' class="btn btn-default">Signup</button>
						</form>
					</div><!--/sign up form-->
				</div>
        </div>
		    </div>
	</section><!--/form-->  

{% endblock content %} 
{% block scripts %}
      
	  <script>
	  	$(document).ready(function(){

			   $('#phone_number, #operators').on('change', function(){
				   $('#mobile').val($("#operators").val() + $(this).val())
			   });
		  })
	  
	  
	  </script>
{% endblock scripts %}            