{% extends 'base.html' %}
{% load static %}

{% block content %}

	
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						<form action=""  method='POST'>
						
							{{form.non_field_errors}}
							{{form.email}}
							{{form.email.errors}}

							{% comment %} {{form.password}}
							{{form.password.errors}} {% endcomment %}

							{% comment %} <input type="text" placeholder="Name" />
							<input type="email" placeholder="Email Address" />
							<span>
								<input type="checkbox" class="checkbox"> 
								Keep me signed in
							</span> {% endcomment %}
							{% csrf_token %}
							<button type="submit" class="btn btn-default">Login</button>
						</form>
					</div><!--/login form-->
				</div>
				
			</div>
		</div>
	</section><!--/form-->
	
	{% endblock content %}